<section class="featured-authors-strip">
  <div class="authors-scroll">
    {{#get "authors" limit="6" include="count.posts" order="name asc"}}
      {{#foreach authors}}
        <a class="author-card" href="{{url}}" title="{{name}}">
          {{#if profile_image}}
            <img src="{{profile_image}}" alt="{{name}}" />
          {{else}}
            <div class="author-placeholder">👤</div>
          {{/if}}
          <div class="author-name">{{name}}</div>
        </a>
<<<<<<< HEAD
          {{#if website}}
            <a href="{{website}}" target="_blank" rel="noopener" class="website-button">Website</a>
          {{/if}} 
=======
>>>>>>> 49100ab9 (added authors strip to the top)
      {{/foreach}}
    {{/get}}
  </div>
</section>